.inp {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.hide {
  display: none;
}

button {
  width: 150px;
  height: 50px;
  background-color: rgb(43, 137, 226);
  border-radius: 30%;
  cursor: pointer;
  color: aliceblue;
}

header {
  display: flex;
  justify-content: center;
}

.grid_btn {
  margin-left: 20px;
  width: 70px;
  height: 40px;
  background-color: rgb(43, 137, 226);
  border-radius: 30%;
  color: aliceblue;
}

.grid_text {
  border: none;
  border-bottom: 1px solid rgb(43, 137, 226);
  outline: none;
}

.list {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

a {
  text-decoration: none;
  color: #fff;
}

#grid {
  text-align: center;
}
