body {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer {
  height: 100px;
  background-color: rgb(43, 137, 226);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 350px;
}

footer h1 {
  font-size: 40px;
}
