<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>

<body>
  <div id="content" class="wrapper">
    {{> ./partials/heroes-list}}
  </div>
</body>

</html>