<div id="viewport">
  <div class="slider">

  </div>
</div>

<div class="slider_btn">
  <button class="prev" id="prev">
    <i class="fas fa-long-arrow-alt-left"></i>
  </button>
  <button class="next" id="next">
    <i class="fas fa-long-arrow-alt-right"></i>
  </button>
</div>